{% extends "proyectos/base.html" %}
{% load staticfiles %}
{% block css %}
	<style>
		.table-center { margin: 30px auto; }
		.table-center caption { font-weight: bold; }
		.Abierto { background-color: green; color: white; padding: 5px; }
		.Cerrado { background-color: red; color: white; padding: 5px 100px; }
	</style>
{% endblock css %}
{% block main_content %}
	<div class="row text-center">
		<div class="small-12 columns">
			<img src="http://chart.apis.google.com/chart?cht=qr&chs=500x500&chl={{current_url}}inscribirse">
			<h2>{{project.name}} <small>{{project.description}}</small></h2>
			<p><small>es una idea de: </small>{{project.owner_name}}</p>
			<h4><span class="{{ project.get_status_display }}">{{project.get_status_display}}</span></h4>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<table class="table-center">
				<caption>Propuesta tecnológica del proyecto</caption>
				<tbody>
					<tr><th>Tecnología</th><td>{{project.technology}}</td></tr>
					<tr><th>Categoría</th><td>{{project.category}}</td></tr>
					<tr><th>e-mail del autor de la idea</th><td>{{project.email}}</td></tr>
					<tr><th>Cantidad máxima de participantes</th><td>{{project.max_participants}}</td></tr>
					<tr><th>URL del proyecto</th><td><a href="{{project.url}}" target="_blank">{{project.url}}</a></td></tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row text-center">
		<div class="small-12 columns">
				<table class="table-center">
					<caption>PARTICIPANTES</caption>
					<thead>
						<tr>
							<th>#</th><th>Nombre</th><th>e-mail</th>
						</tr>	
					</thead>
					<tbody>
						{% for participant in participants %}
						<tr>
							<td>{{forloop.counter}}</td><td>{{participant.name}}</td><td>{{participant.email}}</td>
						</tr>
						{% empty %}
						<tr>
							<td colspan='3'>No hay inscritos aún</td>
						</tr>	
						{% endfor %}
					</tbody>
				</table>
		</div>
	</div>
	

	<div class="row text-right">
		<div class="small-12 columns">
			<a href="{{current_url}}inscribirse" class='button radius disabled expand'>Participar.</a>
		</div>
	</div>
{% endblock %}
