{% extends "proyectos/base.html" %}
{% load staticfiles %}
{% block css %}
	<style>
		.table-center { margin: 30px auto; }
	</style>
{% endblock css %}
{% block main_content %}
	<div class="row text-center">
		<div class="small-12 columns">
			<img src="http://chart.apis.google.com/chart?cht=qr&chs=500x500&chl={{current_url}}inscribirse">
			<h2>{{project.name}} <small>{{project.description}}</small></h2>
		</div>
	</div>
	
	<div class="row text-center">
		<div class="small-12 columns">
			<h3>Participantes</h3>
				<table class="table-center">
					<thead>
						<tr>
							<th>#</th><th>Nombre</th><th>e-mail</th>
						</tr>	
					</thead>
					<tbody>
						{% for participant in participants %}
						<tr>
							<td>{{forloop.counter}}</td><td>{{participant.name}}</td><td>{{participant.email}}</td>
						</tr>
						{% empty %}
						<tr>
							<td colspan='3'>No hay inscritos aún</td>
						</tr>	
						{% endfor %}
					</tbody>
				</table>
		</div>
	</div>
	

	<div class="row text-right">
		<div class="small-12 columns">
			<a href="{{current_url}}inscribirse" class='button radius disabled expand'>Participar.</a>
		</div>
	</div>
{% endblock %}
