{% extends "vote/base.html" %}
{% load staticfiles %}
{% block main_content %}
    <div id="main_content" class="row text-center">
        <div class="row">
            <div class="col-md-12 question"><p>¿Quién crees que gano el debate?</p></div>
        </div>
        <div class="row">
            {% for candidate in candidate_list %}
            <div class="col-md-6 candidate-button">
                <p><img src="https://chart.googleapis.com/chart?cht=qr&chs=400x400&chl={{current_url}}{{candidate.id}}" alt="" class="print_qr"></p>
                <p><a class="btn btn-lg btn-default" href="{% url 'vote:candidate' candidate.id %}">{{candidate.name}}</a></p>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-6 candidate-url">
                <p>iOS: <span>http://bit.ly/votoios</span></p>
            </div>
            <div class="col-md-6 candidate-url">
                <p>Android: <span>http://bit.ly/votoandroid</span></p>
            </div>
        </div>
    </div>
{% endblock main_content %}